<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="News">
	<select id="selectAll" resultType="News">
		select news_id, title,writer, regdate, content, hit from news order by news_id desc
	</select>


</mapper>