<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "mybatis-3-mapper.dtd">
<mapper namespace="Notice">


<!-- namespace는 많은 수의 Mapper.xml에 작성된 I를 중복시키지 않기 위해 -->
	<select id = "selectAll" resultType = "Notice">
		select * from notice order by notice_id asc
	</select>
	<insert id="insert" parameterType = "Notice">
		insert into notice(title,writer,content) values(#{title},#{writer},#{content})
	</insert>
	<!-- Mybatis가 스스로 모델 객체에 조회 값을 담아낸다. 따라서 담은 결과는 ResultType으로 반환해야한다 -->
	<select id="select" parameterType = "int" resultType="Notice">
		select * from notice where notice_id = #{notice_id}
	</select>
	<!-- 한 건을 삭제한다. -->
	<delete id="delete" parameterType="int">
		delete from notice where notice_id = #{notice_id}
	</delete>
	<update id="update" parameterType="Notice">
    update notice set title = #{title}, writer = #{writer}, content = #{content} where notice_id = #{notice_id}
	</update>

</mapper>